<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>utils.NewFilter</filter-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForUserController</servlet-name>
        <servlet-class>controllers.SearchForUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewFoodController</servlet-name>
        <servlet-class>controllers.AddNewFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewFood</servlet-name>
        <servlet-class>controllers.NewFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewFoodController</servlet-name>
        <servlet-class>controllers.CreateNewFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForAdminController</servlet-name>
        <servlet-class>controllers.SearchForAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodController</servlet-name>
        <servlet-class>controllers.UpdateFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillController</servlet-name>
        <servlet-class>controllers.UpdateBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBillController</servlet-name>
        <servlet-class>controllers.DeleteBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>controllers.BillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationController</servlet-name>
        <servlet-class>controllers.UpdateInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShoppingController</servlet-name>
        <servlet-class>controllers.ViewShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodController</servlet-name>
        <servlet-class>controllers.DeleteFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUpdateFoodController</servlet-name>
        <servlet-class>controllers.SaveUpdateFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGmailController</servlet-name>
        <servlet-class>controllers.LoginGmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>controllers.ViewOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForUserController</servlet-name>
        <url-pattern>/SearchForUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewFoodController</servlet-name>
        <url-pattern>/AddNewFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewFood</servlet-name>
        <url-pattern>/NewFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewFoodController</servlet-name>
        <url-pattern>/CreateNewFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForAdminController</servlet-name>
        <url-pattern>/SearchForAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodController</servlet-name>
        <url-pattern>/UpdateFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillController</servlet-name>
        <url-pattern>/UpdateBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBillController</servlet-name>
        <url-pattern>/DeleteBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/BillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationController</servlet-name>
        <url-pattern>/UpdateInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShoppingController</servlet-name>
        <url-pattern>/ViewShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodController</servlet-name>
        <url-pattern>/DeleteFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUpdateFoodController</servlet-name>
        <url-pattern>/SaveUpdateFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGmailController</servlet-name>
        <url-pattern>/LoginGmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/ViewOrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>shopping.jsp</welcome-file>
    </welcome-file-list>
</web-app>
